.vs
BALcontract/bin
BALcontract/obj
BALcore/bin
BALloader/bin
BALloader/obj
BALcore/obj
bin
BeingAliveLanguage/obj
BeingAliveLanguageRhinoCommon/obj
BeingAliveLanguageCpp/x64
BeingAliveLanguageCpp/Debug
x64
BeingAliveLanguageCppPort/Debug
BeingAliveLanguageCppPort/Release
devApp/obj
_release/_releasePrepare/manifest.yml
*.dll
*.lib
_release/_releasePrepare/BeingAliveLanguage.gha
_release/_releasePrepare/releasePkg
_release/_releasePrepare/releaseRH8
_release/_releasePrepare/releaseRH7
_release/releaseRH7
_release/releaseRH8
_release/yak.exe
GeoSharPlusCPP/build
GeoSharPlusNET/obj
cppPrebuild
_release/.DS_Store
