.vs
BALcontract/bin
BALcontract/obj
BALcore/bin
BALloader/bin
BALloader/obj
BALcore/obj
bin
BeingAliveLanguage/obj
BeingAliveLanguageRhinoCommon/obj
BeingAliveLanguageCpp/x64
BeingAliveLanguageCpp/Debug
x64
BeingAliveLanguageCppPort/Debug
BeingAliveLanguageCppPort/Release
devApp/obj
